<!-- 
  @Author: Donald Osgood
  @Date:   2023-11-19 19:47:31
  @Last Modified by:   Donald Osgood
  @Last Modified time: 2023-11-19 19:55:44
-->
{% extends 'base.html' %}

{% block content %}
    <h1 class="title">{% block title %} Books {% endblock %}</h1>
    <div class="content">
        {% for book in books %}
            <div class="book">
                <p><b>#{{ book.id }}</b></p>
                <b>
                    <p class="name">{{ book.book_name }} </p>
                </b>
                <p>{{ book.author }}</p>
                <p>{{ book.publisher }}</p>            
            </div>
        {% endfor %}
    </div>
{% endblock %}